@charset "UTF-8";
/* CSS Document */


/****************/
/**** CONTACT PAGE ****/
/****************/


.contact-page.container{
	margin: 104px 0;
}

.contact-header{
	width:100%;
	background-image: url("../images/contact-bg.png");
	height: 521px;
	background-size: cover;
	background-position: center;
}

.contact-header h1{
	font-size: 80px;
	font-weight: 900;
	color: #F5F5F6;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);
	padding-top: 200px;
}

.contact-page h2{
	text-align: center;
	margin-bottom: 76px;
	background-color: #F5F5F6;
	margin: 0 10% ;
	padding: 2%  2%  8%  2% ;
	
}

.form{
	margin: auto;
	max-width: 100%;
	width: 708px;
	background-color: #F5F5F6;
	padding: 60px;
	border-radius: 6px;
	transform: translateY(-80px)
}

label{
	color: #862F5D;
	padding-bottom: 4px;
}

.form-control{
	font-style: italic;
	border: none;
	padding: 25px 15px;
	border-radius: 4px;
}

::placeholder{
	color: #C7D3E0;
}

.form-group{
	padding-top: 8px;
}

.submit-button{
	position:relative;
	height: 55px;
	width: auto;
	max-width: 214px;
	color: white;
	background-color: #00C269;
	font-size: 20px;
	text-align: center;
	line-height: 55px;
	margin: auto;
	margin-top: 30px;
	border: none;
	//transform: translateY(90px);
}

@media only screen and (max-width: 767px) {
	
	
.contact-page.container{
	margin:0;
}
	

.contact-header{
	height: 400px;
}
	
	
.contact-header h1{
	font-size: 60px;
	padding-top: 60px;
}
	
	
.form{
	padding: 20px;
}
	
}

.button{
	height: 55px;
    width: 100%;
    max-width: 214px;
    color: white;
    background-color: #00C269;
    font-size: 20px;
    text-align: center;
    line-height: 55px;
	border: none;
	outline: none;
}

input[name="message"] {
	padding-bottom: 250px;
  }