@charset "UTF-8";
@import "bootstrap";
@import "bootstrap_theme";
@import "portfolio";
@import "strengths";
@import "vision";
@import "team";
@import "contact";

/* CSS Document */


/****************/
/**** SET-UP ****/
/****************/

*{
	box-sizing: border-box;
	_border: 1px solid blue;
}

a{
	text-decoration:none;
}
a:hover{
	
	text-decoration:none;
}
body{
	position: absolute;
	width: 100%;
	margin: 0;
	font-family: "sofia-pro","Arial", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #343B46;
	// background-color: white;
}

.slick-slide {
    outline: none
}

.mobile{
	display: none;
}
/****************/
/**** COMMON ELEMENTS ****/
/****************/

.nav{
	display: block;
	position: fixed;
	top: 0;
	left:0;
	width:100%;
	height: 104px;
	background-color: white;
}

.hamburger{
	display: none;
}

.nav-menu{
	position: absolute;
	right:100px;
	top: 43px;
	width: auto;
	display: flex;
}

.nav-element{
	margin-left: 46px;
	color: #862f5d;
}


.logo{
	position: absolute;
	left:60px;
	top: 26px;
}

.wrapper{
	// position: absolute;
	width: 100%;
	height: auto;
	transition: transform 1s;
}

.container{
	width: 100%;
	height: auto; 
	position: relative;
	margin: auto;
}

.inner-container{
	max-width: 960px;
	position: relative;
	margin: auto;
}

h2{
	margin: 0;
	font-size: 32px;
	color: #862F5D;
}

/***PAGE1****/


.section-title{
	text-align: center;
}

.link{
	text-align: center;
	color: #00c269;
	font-size: 20px;
}

.slideshow{
	margin-top: 94px;
	width: 100%;
	max-width: 2440px;
  max-height:780px;
//   border: 1px solid green;

}

.slide{
	_width: 100%;
	_height:100%;
  _background-color: teal;
//   border: 1px solid green;
}

.slide img{
	max-height: 100%;
	max-width: 100%;
}


/** portfolio **/

.portfolio.container{
	background-color: #F5F5F6;
	height: 704px;
}

.portfolio.bg-container{
	position: absolute;
	height: 100%;
	width: 50%;
	top:0;
	right: 0;
	 background-image: url("../images/portfolio-bg.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
}

.portfolio.inner-container{
	height: 100%;
	_background-color: gray;
}

.portfolio-left{
	padding-top: 107px;
	position: relative;
	width: 50%;
	height: 100%;
}

.portfolio .section-title{
	position: relative;
	margin-bottom: 60px;
}

.portfolio-grid{
	display: grid;
  	grid-template-columns: auto auto auto;
  	grid-gap: 10px;
	padding: 10px;
}

.brand-box{
	position: relative;
	text-align: center;
	height: 100px;
}

.brand-box img{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	max-width: 70%;
	max-height: 70%;
	margin: auto;
}


.portfolio .link{
	margin-top: 53px;
}

/***TEAM***/

.team.container{
	background-color: white;
	height: 762px;
}


.team.bg-container{
	position: absolute;
	height: 100%;
	width: 50%;
	top:0;
	left: 0;
	background-image: url("../images/team-bg.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	transform: translateX(-100px)
}

.team.inner-container{
	height: 100%;
}

.team-right{
	padding-top: 60px;
	position: absolute;
	right: 0;
	width: 60%;
	height: 100%;
}

.team-grid{
	padding-top: 69px;
	padding-bottom: 49px;
}

.member-cont{
	position: relative;
	display: flex;
	margin-bottom: 24px;
}

.member-cont:nth-child(2){
	transform: translateX(-60px)
}

.member-cont:nth-child(3){
	transform: translateX(-120px)
}

.name-cont{
	color: #343B46;
	position: relative;
	padding-left: 50px;
	font-size: 24px;
	height: 100%;
	padding-top: 25px;
}

.name{
	font-weight: 900;
}

.avatar{
	width: 120px;
}

/** philosophy **/

.philosophy.container{
	background-color: #F5F5F6;
	height: 704px;
}


.philosophy.inner-container{
	height: 100%;
	padding-top: 90px;
	padding-bottom: 76px;
	_background-color: gray;
}

.philosophy-grid{
	padding: 97px 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.philosophy-element{
	text-align: center;
	width: 220px;
}

.philosophy-text{
	text-align: center;
	color: #343b46;
	font-weight: 900;
	font-size: 24px;
	line-height: 22px;
	padding-top: 40px;
}

/** strengths **/

.strengths.container{
	background-color: white;
	height: auto;
}


.strengths.inner-container{
	height: 100%;
	padding-top: 90px;
	padding-bottom: 76px;
}

.strength-grid{
	background-color: white;
	background-image: url("../images/hexagon.svg");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	padding: 97px 10px;
	width: 100%;
	display: grid;
	grid-template-columns: 25% auto 25%;
	grid-template-rows: auto auto auto auto auto;
}

.strength{
	text-align: center;
}

.strength img{
	max-width: 100%;
}

.strength:nth-child(1){
	grid-column-start: 2;
}

.strength:nth-child(2){
	grid-row-start: 2;
}
.strength:nth-child(3){
	grid-row-start: 2;
	grid-column-start: 3;
}
.strength:nth-child(4){
	grid-row-start: 4;
}
.strength:nth-child(5){
	grid-row-start: 4;
	grid-column-start: 3;
}
.strength:nth-child(6){
	grid-row-start: 5;
	grid-column-start: 2;
}

.strength-description{
	padding: 10px;
	width: 240px;
	max-width: 100%;
	margin: auto;
	color: #343B46;
	font-weight: 900;
	font-size: 22px;
	line-height: 22px;
}

.logo-strength{
	padding: 45px;
	margin: auto;
	grid-row-start: 3;
	grid-column-start: 2;
	max-width: 100%;
}

.logo-strength img{
	width: 296px;
}

.footer{
	position: relative;
	background-color: #f5f5f6;
	height:324px;
}

.footer-footer{
	position: absolute;
	background-color: #343B46;
	color: #f5f5f6;
	text-align: center;
	font-size:10px;
	padding: 40px;;
	height: 130px;
	bottom: 0;
	width: 100%;
}

.cta-button{
	position:relative;
	height: 55px;
	width: auto;
	max-width: 214px;
	color: white;
	background-color: #00C269;
	font-size: 20px;
	text-align: center;
	line-height: 55px;
	margin: auto;
	transform: translateY(-28px);
}



/***MEDIA QUERY***/

@media only screen and (max-width: 767px) {

	.nudge{
		transform: translateY(40px);
		transition: transform 1s;
	}
	
	.nomobile{
		display:none;
	}
	
	.mobile{
		display: block;
	}

	.nav{
		height: 60px;
	}

	.hamburger{
		display: block;
		position: absolute;
		right: 15px;
		height: 30px;
		top: 15px;
		}

	.nav-menu{
		width: 100%;
		right:0px;
		top: 60px;
		background-color: white;
		justify-content: space-around;
		flex-wrap: wrap;
		font-size: 11px;
		height: 40px;
	}

	.nav-element{
		width: auto;
		margin-left: 0px;
		padding: 8px;
	}

	.logo{
		left:15px;
		top: 15px;
	}
		.logo img{

		height: 30px;
		}


	.slideshow{
		margin-top: 60px;
	}
	/** portfolio **/


	.portfolio.container{
		height: auto;
	}

	.portfolio.bg-container{
		display: none;
	}

	.portfolio.inner-container{
		height: 100%;
		padding-bottom: 60px;
	}

	.portfolio-left{
		padding-top: 40px;
		width: 100%;
	}


	/***TEAM***/

	.team.container{
		height: auto;
		padding-bottom: 60px;
	}


	.team.bg-container{
		display: none;
	}


	.team-right{
		position: relative;
		width: 100%;
		padding: 40px 20px 0px 20px;
	}

	.team-grid{
		padding-top: 49px;
		padding-bottom: 49px;
	}

	.member-cont{
		position: relative;
		display: flex;
		margin-bottom: 24px;
	}

	.member-cont:nth-child(2){
		transform: translateX(0px)
	}

	.member-cont:nth-child(3){
		transform: translateX(0px)
	}

	.name-cont{
		padding-left: 25px;
		font-size: 20px;
		padding-top: 25px;
	}


	.avatar{
		width: 100px;
	}	


	/** philosophy **/

	.philosophy.container{
		height: auto;
		padding: 40px 20px 0px 20px;
	}


	.philosophy.inner-container{
		padding-top: 0px;
		padding-bottom: 60px;
	}

	.philosophy-grid{
		padding: 60px 10px;
		width: 100%;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		grid-gap: 30px;
	}

	.philosophy-element{
		width: 100%;
		height: auto;
		text-align: center;
	}

		.philosophy-icon img{
			width: 100%;
		}

		.philosophy-text{
			display: none;
	}	

		/** strengths **/

	.strengths.container{
		background-color: white;
		height: auto;
	}


	.strengths.inner-container{
		height: 100%;
		padding-top: 60px;
		padding-bottom: 76px;
	}

	.strength-grid{
		background-color: white;
		 background-image: url("../images/hexagon.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		padding: 20px 10px;
		width: 100%;
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-template-rows: auto auto auto auto auto;
	}

	.strength{
		text-align: center;
		padding: 20px;
		padding-bottom: 10px;
	}

	.strength img{
		max-width: 100%;
	}

	.strength:nth-child(1){
		grid-column-start: 2;
	}

	.strength:nth-child(2){
		grid-row-start: 2;
	}
	.strength:nth-child(3){
		grid-row-start: 2;
		grid-column-start: 3;
	}
	.strength:nth-child(4){
		grid-row-start: 4;
	}
	.strength:nth-child(5){
		grid-row-start: 4;
		grid-column-start: 3;
	}
	.strength:nth-child(6){
		grid-row-start: 5;
		grid-column-start: 2;
	}

	.strength-description{
		padding: 2px;
		width: 240px;
		max-width: 100%;
		margin: auto;
		color: #343B46;
		font-weight: 900;
		font-size: 14px;
		line-height: 14px;
	}

	.logo-strength{
		display: none;
		padding: 10px;
		margin: auto;
		grid-row-start: 3;
		grid-column-start: 2;
		max-width: 100%;
	}

	.logo-strength img{
		display: none;
		width: 220px;
	}

}

