@charset "UTF-8";

$tablet: 1000px;
$mobile: 700px;
$md: 	768px;
$lg: 	1024px;

@import url('https://use.typekit.net/qkw4qjp.css');
@import url("https://use.typekit.net/ckx5yuk.css");
@import url("https://use.typekit.net/bvm0cpe.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");




@import "news";
@import "disclaimer";
//@import "contact";

/* CSS Document */

/****************/
/**** SET-UP ****/
/****************/
html,
body {
  // overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px !important; 
}

* {
  box-sizing: border-box;
  _border: 1px solid blue;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body {
  position: absolute;
  width: 100%;
  margin: 0;
   font-family: "sofia-pro","Arial", sans-serif !important;
   color: #2D3339;
  
  font-weight: 400;
  font-size: 14px;
  color: #343b46;
  // background-color: white;
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    font-family: "sofia-pro","Arial", sans-serif !important;  
    color: #2D3339;
  }
}

// fix the p margin

.news-single{

  p{
    margin: 0 0 1em !important;
  }
}

.slick-slide {
  outline: none;
}

.mobile {
  display: none;
}
/****************/
/**** COMMON ELEMENTS ****/
/****************/

.nav {
  display: flex;
  justify-content: space-between;
 position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  //height: 104px;
  background-color: white;
  z-index: 20;
  padding: 2% ;
}

.hamburger {
  display: none;
}

.nav-menu {
  display: flex;
  @media only screen and (max-width: 500px) {
    min-height: 65px;
    padding: 0 20%;
  }
}

.nav-element {
  margin-left: 46px;
  // color: #862f5d;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  &:hover{
	color: #426efe;
	text-decoration: underline;
	}
}

.logo {
 // position: absolute;
  left: 60px;
  top: 26px;
}

.wrapper {
  // position: absolute;
  width: 100%;
  height: auto;
  transition: transform 1s;
}

.container {
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
}

.inner-container {
  max-width: 960px;
  position: relative;
  margin: auto;
}





/** portfolio **/


.buttons::-webkit-scrollbar {
  display: none;
}
.portfolio {
  .cards {
    .card:nth-child(n+6) {
      display: none ;
      @media only screen and (min-width: $md) {
        display: flex ;
    }
  }
  }
 
}

/***MEDIA QUERY***/


.is-inactive {
  display: none;
}




.headerWrapper {
  .burgerMenu {
    display: none;
    cursor: pointer;
    @media screen and (max-width: 1023px) {
      display: inline;
    }
    .bar1,
    .bar2,
    .bar3 {
      height: 2px;
      //background-color: white;
      margin: 8px 0;
      transition: 0.2s;
    }

    .bar1{
      width: 25px;
    }
    .bar2{
      width: 20px;
    }
    .bar3{
      width: 25px;
    }
  }

  .change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(0px, 0px);
      transform: rotate(-45deg) translate(0px, 0px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-7px, -7px);
      transform: rotate(45deg) translate(-7px, -7px);
     
    }
  }

  .is-inactive {
    display: inline-flex ;
  }
  .rightDiv{
    a {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 4px;
        background-color: #006EFF;
        transform: scaleX(0);
        transition: transform .15s ease-in-out;
        }
        &:hover:after {
          transform: scaleX(1);
      }
    }
  }
  .blue{
    a{
      &::after{
    background-color: #006EFF;
   }
    }
  }

  .green{
    a{
      &::after{
    background-color: #31FFC1;
   }
    }
  }
 
  .current{
    span{
      color: #006EFF;
    }
  }
}






// font 

.label1{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.label2{
  font-weight:600;
  font-size: 24px;
  line-height: 28px;
}

.body1{
  font-size: 16px;
  line-height: 24px;
  font-weight:400;
  @media only screen and (min-width: $lg) {
    font-size: 20px;
    line-height: 28px;
}
}

.body2{
  font-size: 14px;
  line-height: 20px;
  font-weight:300;
  @media only screen and (min-width: $lg) {
    font-size: 16px;
    line-height: 24px;
}
}

.body3{
  font-size: 12px;
  line-height: 26px;

}

.h1{
  font-weight:bold;
  font-size: 32px;
  line-height: 32px;
  @media only screen and (min-width: $lg) {
    font-size: 56px;
  line-height: 60px
  }
}

.h2{
  font-weight:bold;
  font-size: 28px;
  line-height: 36px;
  @media only screen and (min-width: $lg) {
    font-size: 36px;
  line-height: 44px
  }
}

.h3_strengths{
  font-weight:bold;
  font-size: 16px;
  line-height: 20px  ;
  @media only screen and (min-width: $lg) {
    font-size: 24px;
  line-height: 28px
  }
}

.h3{
  font-weight:bold;
  font-size: 20px;
  line-height: 24px  ;
  @media only screen and (min-width: $lg) {
    font-size: 24px;
  line-height: 28px
  }
}

.h4{
  font-weight:bold;
  font-size: 16px;
  line-height: 20px;
}



// slick

.slick-dots {
  bottom: 32px !important;
  @media only screen and (min-width: $lg) {
    bottom: 40px !important;
  }
}

.slick-dots li.slick-active button:before {
  color: white !important;
  font-size: 8px !important;
}

.slick-dots li button:before {
  color: white !important;
  opacity: 0.25;
}

// strengths
.strengths{


svg:not(:root) {
  overflow: visible;
}

.medal {
  &:hover{
    #star{
      transform: rotate(-90deg);
      transition: width 0.3s, height 0.3s, transform 0.3s;
      transform-box: fill-box;
      transform-origin: center;
    }
  }
}

.founder {
  &:hover{
    #head{
      transform: rotate(45deg);
      transition: width 0.3s, height 0.3s, transform 0.3s;
      transform-box: fill-box;
      transform-origin: center;
    }
  }
}

.rocket {
  &:hover{
    #main{
      transform: translate(5px,-10px);
      transition: width 0.3s, height 0.3s, transform 0.3s;
      transform-box: fill-box;
      transform-origin: center;
    }
    #sub{
      transform: scale(0.7);
      transition: width 0.3s, height 0.3s, transform 0.3s;
      transform-box: fill-box;
      transform-origin: center;
    }
  }
}

}

// focus
.react-3d-carousel {
  height: 335px !important;
  @media only screen and (min-width: 450px) {
    height: 535px !important;
  }
}

// slideShow
.buttonArrow{
  .brandingE {
      transform: scaleY(0);
      transition: transform .15s ease-in-out;
    }
    &:hover {
      .brandingE{
        transform: scaleY(1);
        transform-origin: bottom;
      }
  }
}

