.newsComponent {
  .news-cards{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 80px;
    width: 100%;
   // max-width: 100%;
   padding: 0 10%;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      }
    .news-card {
      width: 30%;
      @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 5% 10%;
        }
      
      .news-picture {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .news-text {
        .date {
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: rgba(66, 77, 94, 0.3);
        }
        .excerpt {
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: -0.23px;
          color: #343b46;
        }
      }
    }
  }
  .bottom {
    width: 100%;
    text-align: center;
    padding: 5% 0;
    .button {
      padding: 20px 60px;
    }
  }
}
.news-single {
  width: 100%;
  margin-top: 104px;
  margin-bottom: 100px;
  .main-pic {
    width: 100%;
    height: 30vh;
    @media screen and (min-width: $tablet) {
      min-height: 363px;
      }
  }
  .main {
    .date {
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: -0.2px;
      color: rgba(66, 77, 94, 0.3);
      padding-left: 10%;
    }

    .title {
      font-size: 42px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.12;
      letter-spacing: -0.49px;
      color: #343b46;
      padding: 0 20% 0 20%;
      @media screen and (max-width: 1200px) {
        padding: 0 10% 0 10%;
        }
        @media screen and (max-width: $mobile) {
          padding: 0 5% 0 5%;;
          font-size: 32px;
          }
    }
    .content {
      padding: 3% 20%;
      font-size: 18px;
      iframe{
        width: 100%;
        height: 25vw;
        padding: 0 10%;
        min-height: 250px;
    
      }
      @media screen and (max-width: 1200px) {
        padding: 3% 10%;
        }
        @media screen and (max-width: $mobile) {
          padding: 3% 5%;
          }
      img {
        max-width: 100%;
        height: auto;
        padding: 20px 0;
      }

      li {
        margin: 15px 0;
      }
    }
  }

  // styling from Wordpress
  img.alignright {
    float: right;
    margin: 0 0 1em 1em;
  }
  img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
  }
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a img.alignright {
    float: right;
    margin: 0 0 1em 1em;
  }
  a img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
  }
  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.news {
  margin-top: 104px;
  padding: 0 10%;
  min-height: 100vh;
  .top {
    h1 {
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: -0.35px;
      color: #343b46;
    }

    .searchBox {
      float: right;
      input {
        background: url(../images/search_icon.png) no-repeat right;
        background-size: contain;
        border: none;
      }
    }
  }

  .new-cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
      content: "";
      width: 30%;
    }

    .news-card {
      width: 30%;
      margin-top: 3%;
      @media screen and (max-width: $tablet) {
        width: 45%;
        }
        @media screen and (max-width: $mobile) {
          width: 100%;
          }
      .news-picture {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .news-text {
        .date {
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: rgba(66, 77, 94, 0.3);
        }
        .excerpt {
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: -0.23px;
          color: #343b46;
        }
      }
    }
  }
  .showMore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #c3242c;
    background-color: transparent;
    border: none;
  }
}
