@charset "UTF-8";
/* CSS Document */


/****************/
/**** TEAM PAGE ****/
/****************/


.team{
.team-cont{
	//border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.team-card{
		width: 20%;
		display: flex;
		// &:hover{
		// 	width: 100%;
		// 	.team-card_right{
		// 		display: block;
		// 	}
		// 	&:not(:hover){
		// 		display: none;
		// 	}
		// }


	
		.team-card_left{
			.team-picture{
			 width: 217px;
				//border: 1px solid red;
				img{
					width: 100%;
				}
			}
		}
		.team-card_right{
			//display: none;
		}

	}
}
}