@charset "UTF-8";
/* CSS Document */


/****************/
/**** STRENGTHS PAGE ****/
/****************/

.vision.section-title{
	
	width: 640px;
	max-width: 100%;
	margin: auto;
}


.vision-page.container{
	margin: 60px 0 212px 0;
	background-color: #F5F5F6;
}

.vision h2{
	text-align: center;
	margin-top: 212px;
}

.vision-page .philosophy-text{
	color: #862F5D;
	padding: 40px 0;
	height: 120px;
}

.vision-page .philosophy-desc{
	font-size: 20px;
	padding-top: 72px ;

}

@media only screen and (max-width: 767px) {
	
	

.vision-page.container{
	margin: 60px 0 212px 0;
	padding: 0 20px;
	background-color: #F5F5F6;
}
	.vision{
		padding: 0 20px;
	}
	
	.vision h2{
	margin-top: 72px;
}
	.vision-page .philosophy-element{
		padding-bottom: 40px;
	}
	
.vision-page .philosophy-desc{
	font-size: 20px;
	padding-top: 24px ;

}
}